* {
  margin: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a {
  text-decoration: none;
}

select {
  outline: none;
}

input {
  outline: none;
}

textarea {
  resize: none;
}