:root {
  --post_card_width: 200px;
}
.public-posts-page {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.post-cards-div {
  /* display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch; */

  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-auto-rows: 40px;

  
}