.home-page-title {
  font-family: 'Delius Swash Caps', cursive;
  font-size: 1.6rem;
  color: white;
  background-color: #4f2db5;
  padding: 5px 0;
}


.home-page-welcome {
  display: flex;
  flex-direction: row;
  
}
.welcome-message {
  width: 30vw;
  min-width: 300px;
  height: 100vh;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color:#4f2db5;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.highlight-word{
  font-family: 'Delius Swash Caps', cursive;
}

#hw1{
  width: 22vw;
  /* background-color: red; */
  display: flex;
  justify-content: flex-start;
  font-size: 3.6rem;
  line-height: 3rem;
  margin-bottom: 10px;
}

#hw2{
  width: 24vw;
  min-width: 250px;
  /* background-color: red; */
  display: flex;
  justify-content: flex-end;
  font-size: 3.4rem;
  line-height: 3rem;
  margin-bottom: 15px;
}

#hw3 {
  font-size: 2rem;
}

#hw4 {
  font-size: 2rem;

}

.site-des-bg-mssg {
  position: relative;
}

.site-desc-background{
  margin: 60px 0 0 8px;
  width: 28vw;
  min-width: 280px;
  height: 50px;
  transform: skew(20deg);
  background-color: #f9d2e3db;
  position: absolute;
  border-radius: 0 30px;
  
}

.welcome-site-description {
  margin: 20px;
  width: 90%;
  padding: 20px;
  font-size: 1.1rem;
  position: relative;
  z-index: 1;
}

.welcome-image {
  width: 70vw;
  height: 100vh;
  background: left / cover no-repeat url("https://images.unsplash.com/photo-1558779967-a95d813caee3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1051&q=80");

}

.home-page {
  background-color: #4f2db5;
  
}



